body {
    background: #f5f3f2;
}

.main-nav {
    background: #2653a7 !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.main-nav .active {
    background: #2f61be !important;
    border-radius: 5%;
}

.home.active {
    background: #2653a7 !important;
}

.bg-main {
    background: #2653a7 !important;
    color: #fff;
}

input[type=checkbox].checkTable
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.2); /* IE */
  -moz-transform: scale(1.2); /* FF */
  -webkit-transform: scale(1.2); /* Safari and Chrome */
  -o-transform: scale(1.2); /* Opera */
  margin-top: 7px;
  margin-left: 5px;
}

input[type=checkbox].table-top {
    margin-top: 14px;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
background: #cccccc; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}